<div ng-app="">
  <div>
    <form action="#" class="custom-form">
      <h3 class="text-center">Animated Form</h3>
      <div class="form-group" ng-class="{'not-empty': userName.length}">
        <input type="text" class="form-control" name="user"  id="user" ng-model="userName"/>
        <label for="user" class="animated-label">Username</label>
      </div>
      <div class="form-group" ng-class="{'not-empty': passWord.length}">
        <input type="password" class="form-control" name="pass"  id="pass" ng-model="passWord"/>
        <label for="pass" class="animated-label">Password</label>
      </div>
      <div class="submit">
        <button class="btn btn-primary btn-block" disabled>Send</button>
      </div>
    </form>
  </div>
</div>

<!-- body {
  background: #95a5a6;
}
.custom-form {
  
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 360px;
  margin: 40px auto 40px;
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  .btn-primary {
    background-color: #8e44ad;
    border-color: #8e44ad;
  }
  .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
    .animated-label {
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      font-weight: 300;
      opacity: 0.5;
      cursor: text;
      transition: 0.2s ease all;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 2px;
        width: 10px;
        visibility: hidden;
        background-color:#8e44ad;
        transition: 0.2s ease all;
      }
    }
    &.not-empty {
      .animated-label {
        top: 0;
        font-size: 12px;
      }
    }
    .form-control {
      position: relative;
      z-index: 1;
      border-radius: 0;
      border-width: 0 0 1px;
      border-bottom-color: rgba(0,0,0,0.25);
      height: auto;
      padding: 3px 0 5px;
      &:focus {
        box-shadow: none;
        border-bottom-color: rgba(0,0,0,0.12);
        ~ .animated-label {
          top: 0;
          opacity: 1;
          color: #8e44ad;
          font-size: 12px;
          &:after {
            visibility: visible;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
} -->